.clase1 p {
    color: skyblue;
}

#p1 {
    color: red;
}

.clase1 span {
    color: pink;
}

body {
    background-color: rebeccapurple;
}

#p2 {
    color: aquamarine;
}

.clase2 p {
    color: yellow;
}